# Ignore .xml files
*.xml
# Ignore images
*.png
*.jpg
# Ignore all .h5 and .out output files 
*.h5
*.out
# Except everything in the data folder
!**/data/*
# Ignore distribution binaries
dist

# Ignore pycache
**/__pycache__