# Ignore .xml files
*.xml
# Ignore images
*.png
*.jpg
# Ignore all .h5 and .out output files 
*.h5
*.out
# Except everything in the data folder
!**/data/*
# Ignore distribution binaries
dist

# Ignore pycache
**/__pycache__

# Annoying Linux os files
*.fuse_hidden*

# Ignore unzipped sampled incident flux datapoints
incident_flux_*

# Ignore the generated dataset
dataset.zarr